<!-- shorcut create html structur : press Shift+1 + enter or tab -->
{% extends "login/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% comment %} <h1>{{ name }}</h1>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'contact_view' %}">Contact</a></li>
        <li><a href="{% url 'login_view' %}">Login</a></li>
    </ul> {% endcomment %}
    {% block content %}
        <div class="container">
            <h1>{{ name }}</h1>
        </div>
    {% endblock content %}

</body>
</html>